.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
    border-radius: 40px;
    margin: 10px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding: 0px 20px; 
    font-size: 22px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurant-card{
    padding: 5px;
    width: 200px; 
    margin: 5px;
    border: 1px solid transparent;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap; 
}

.restaurant-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search{
    padding: 10px;
}

.restaurant-logo{
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: white;
}